**.class
**.log
**.pyc
special.condor
corpora/**
diagnostics/**
docprobs/**
evaluators/**
keys/**
logs/**
modstates/**
oneoutprobs/**
ones/**
outprobs/**
outs/**
single-evaluators/**
states/**
VOIs/**
wordprobs/**
