**.class
**.log
**.png
**.pyc
special.condor
coherences/**
coherenceouts/**
corpora/**
diagnostics/**
docprobs/**
evaluators/**
keys/**
logs/**
modstates/**
oneoutprobs/**
ones/**
outprobs/**
outs/**
oneevaluators/**
states/**
vois/**
wordprobs/**
wordweights/**
